@using ICMVerbali.Web.Authentication

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ICMVerbali</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
                    </NavLink>
                </div>

                <div class="nav-item px-3 mt-3">
                    <small class="text-muted text-uppercase">Anagrafiche</small>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="anagrafica/cantieri">Cantieri</NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="anagrafica/committenti">Committenti</NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="anagrafica/imprese">Imprese</NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="anagrafica/persone">Persone</NavLink>
                </div>
                <AuthorizeView Policy="@AuthorizationPolicies.RequireAdmin" Context="adminCtx">
                    <Authorized>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="anagrafica/utenti">Utenti</NavLink>
                        </div>
                    </Authorized>
                </AuthorizeView>
            </Authorized>
        </AuthorizeView>
    </nav>
</div>
